<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>1034381393042-85iv1ni1nl7oh02bihhqqsdl6muvak0o.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.1034381393042-85iv1ni1nl7oh02bihhqqsdl6muvak0o</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>1034381393042-7uj381qvsmkiaa7jgk793h0df63uq4vu.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyA6MrdERmhZahfkPYDerNN1lP6lvpFxZug</string>
    <key>GCM_SENDER_ID</key>
    <string>1034381393042</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.heyyateam.heyya</string>
    <key>PROJECT_ID</key>
    <string>heyya-99ace</string>
    <key>STORAGE_BUCKET</key>
    <string>heyya-99ace.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:1034381393042:ios:875c806edb76103a20ba4b</string>
</dict>
</plist>
